@import "mixins";

$show-hide-transition: .4s ease-in-out;
$header-height: 40px;
$num-menu-items: 6;

@media (max-width: 600px) {
  .columnscontainer {
    margin-top: $header-height;
  }

  #top_header {

    display: block;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    background: $color-primary;
    z-index: 1000;

    input {
      display: block;
      width: $header-height;
      height: $header-height;
      cursor: pointer;
      opacity: 0;
      margin: 0;
      padding: 0;
      z-index: 1000;
      position: absolute;
      top: 0;
      left: 0;
    }

    input:checked ~ #menu {
      max-height: #{$num-menu-items * $header-height};
    }

    input:checked ~ .hamburger {
      transform: rotate(45deg);
      &:after {
        transform: rotate(90deg);
        bottom: 0;
      }
      &:before {
        transform: rotate(90deg);
        top: 0;
      }
    }

    img {
      margin-left: $header-height;
      height: $header-height;
      display: block;
      float: left;
    }

    .page_title {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 8px;
      font-size: 150%;
      float: left;
      display: block;
      line-height: $header-height;
      height: $header-height;
    }

    #menu {
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
      position: relative;
      transition: $show-hide-transition;
      max-height: 0;
      overflow: hidden;
    }

    li {
      padding: 0 16px;
      margin: 0;
      height: $header-height;
      line-height: $header-height;
    }

    li:hover {
      background: $color-highlight;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    .hamburger {
      position: absolute;
      top: 18px;
      left: 5px;
      height: 2px;
      width: 30px;
      background: #000;
      transform-origin: center;
      transition: $show-hide-transition;
      &:after,
      &:before {
        transition: $show-hide-transition;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #000;
      }
      &:before {
        top: -10px;
      }
      &:after {
        bottom: -10px;
      }
    }
  }
}

@media (min-width: 601px) {
  $image-size: 100px;
  #top_header {
    position: relative;
    padding-left: $image-size;
    height: $image-size;

    input, .hamburger {
      display: none;
    }

    #menu {
      display: flex;
      flex-flow: row nowrap;
      margin: 0;
    }

    ul {
      list-style-type: none;
      padding: 0;
      background: $color-primary;

      li {
        padding: 0 16px;
        margin: 0;
        height: $header-height;
        line-height: $header-height;
      }
    }

    li:hover {
      background: $color-highlight;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: $image-size;
      height: $image-size;
    }

    .page_title {
      font-size: 200%;
      position: absolute;
      left: #{$image-size + 8};
      bottom: $header-height;
    }

    #menucontainer {
      position: absolute;
      bottom: 0;
      right: 0;
      width: calc(100% - #{$image-size + 8});
    }
  }
}