body {
  font-family: "arial","helvetica","Liberation Sans",sans-serif;
}

.main_content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.columnscontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @media(min-width: 960px) {
    flex-wrap: nowrap;
  }

  section {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-flow: column;
  }
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 8px;
  padding: 8px;
  position: relative;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

