<section class="columnscontainer">

    <section class="reviews">
        <header><h1>Reviews</h1></header>

        <article class="card">
            <header>Game 1</header>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </article>

        <article class="card">
            <header>Game 2</header>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </article>

        <article class="card">
            <header>Game 3</header>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </article>

    </section>

</section>